// font
$base-font-size: 16px;
$base-font-family: OpenSans-Regular;

// breakpoints
$xsm: 412px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// animations
$fast-animation: 0.1s ease;
$medium-animation: 0.3s ease;
$slow-animation: 0.5s ease;
$slowest-animation: 1s ease;

// shadow
$shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.06);
$hard-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16);
$light-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
