// [BEGIN] Layouts
$DashboardLayoutDefault: '.DashboardLayoutDefault';
$DashboardLayoutError: '.DashboardLayoutError';
$DashboardLayout: '.DashboardLayout';
$DashboardLayoutNotFound: '.DashboardLayoutNotFound';
$DashboardLayoutPermissionDenied: '.DashboardLayoutPermissionDenied';
$LandingLayoutDefault: '.LandingLayoutDefault';
$LandingLayoutError: '.LandingLayoutError';
$LandingLayout: '.LandingLayout';
$LandingLayoutNotFound: '.LandingLayoutNotFound';
$LandingLayoutPermissionDenied: '.LandingLayoutPermissionDenied';
// [END] Layouts

// [BEGIN] Pages
$AppError: '.AppError';
$AppNotFound: '.AppNotFound';
$AppPermissionDenied: '.AppPermissionDenied';
$Products: '.Products';
$Users: '.Users';
$SignIn: '.SignIn';
$SignUp: '.SignUp';
// [END] Pages

// [BEGIN] Components
$Button: '.Button';
$Fallback: '.Fallback';
$Icon: '.Icon';
// [END] Components

// [BEGIN] Containers
$AGroupOfComponents: '.AGroupOfComponents';
// [END] Containers
