// Layouts/Private
$DashboardLayoutDefault: '.DashboardLayoutDefault';
$DashboardLayoutError: '.DashboardLayoutError';
$DashboardLayout: '.DashboardLayout';
$DashboardLayoutNotFound: '.DashboardLayoutNotFound';
$DashboardLayoutPermissionDenied: '.DashboardLayoutPermissionDenied';

// Layouts/Public
$LandingLayoutDefault: '.LandingLayoutDefault';
$LandingLayoutError: '.LandingLayoutError';
$LandingLayout: '.LandingLayout';
$LandingLayoutNotFound: '.LandingLayoutNotFound';
$LandingLayoutPermissionDenied: '.LandingLayoutPermissionDenied';

// Pages/Common
$AppError: '.AppError';
$AppNotFound: '.AppNotFound';
$AppPermissionDenied: '.AppPermissionDenied';

// Pages/Private
$Products: '.Products';
$Users: '.Users';

// Pages/Public
$SignIn: '.SignIn';
$SignUp: '.SignUp';

// Components
$Button: '.Button';
$Fallback: '.Fallback';

// Containers
$AGroupOfComponents: '.AGroupOfComponents';
