// [BEGIN] Layouts/Private
$DashboardLayoutDefault: '.DashboardLayoutDefault';
$DashboardLayoutError: '.DashboardLayoutError';
$DashboardLayout: '.DashboardLayout';
$DashboardLayoutNotFound: '.DashboardLayoutNotFound';
$DashboardLayoutPermissionDenied: '.DashboardLayoutPermissionDenied';
// [END] Layouts/Private

// [BEGIN] Layouts/Public
$LandingLayoutDefault: '.LandingLayoutDefault';
$LandingLayoutError: '.LandingLayoutError';
$LandingLayout: '.LandingLayout';
$LandingLayoutNotFound: '.LandingLayoutNotFound';
$LandingLayoutPermissionDenied: '.LandingLayoutPermissionDenied';
// [END] Layouts/Private

// [BEGIN] Pages/Common
$AppError: '.AppError';
$AppNotFound: '.AppNotFound';
$AppPermissionDenied: '.AppPermissionDenied';
// [END] Pages/Common

// [BEGIN] Pages/Private
$Products: '.Products';
$Users: '.Users';
// [END] Pages/Private

// [BEGIN] Pages/Public
$SignIn: '.SignIn';
$SignUp: '.SignUp';
// [END] Pages/Public

// [BEGIN] Components
$Button: '.Button';
$Fallback: '.Fallback';
// [END] Components

// [BEGIN] Containers
$AGroupOfComponents: '.AGroupOfComponents';
// [END] Containers
